<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <b class="mb-2 font-weight-bold">{{ "edit-company" | translate }}</b>
      <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" class="mt-2">
        <div class="form-group">
          <mat-form-field appearance="outline" class="input-form-add-company">
            <mat-label>{{ "list-company.name" | translate }}</mat-label>
            <input
              type="text"
              formControlName="name"
              matInput
              placeholder="{{ 'add-company.enter-name' | translate }}"
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="input-form-add-company">
            <mat-label>{{ "list-company.address" | translate }}</mat-label>
            <input
              type="text"
              formControlName="address"
              matInput
              [matAutocomplete]="auto"
              placeholder="{{ 'add-company.enter-address' | translate }}"
            />
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let addr of addresses"
              [value]="addr.properties.address_line1"
            >
              {{ addr.properties.address_line1 }}
            </mat-option>
          </mat-autocomplete>
        </div>

        <button type="submit" class="btn btn-primary mt-2">
          {{ "add-company.submit" | translate }}
        </button>
      </form>
      @defer (when isCheckCompany()) {

      <app-add-employee-to-company
        [companyId]="companyId"
      ></app-add-employee-to-company>
      }
    </div>
  </div>
</div>
