
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a
              class="nav-link"
                [routerLink]="['list-employee']"
                [queryParams]="{page: 1}"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >{{ 'HOME.LIST-EMPLOYEES' | translate }}</a
              >
            </li>
            <li class="nav-item active">
              <a
              class="nav-link"
                routerLink="/list-company"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >{{ 'HOME.LIST-COMPANY' | translate }}</a
              >
            </li>
            <li class="nav-item active">
              <select #langSelect (change)="languageChange(langSelect)">
                <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.defaultLang">{{ lang }}</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
