<div class="container">
  <div class="row">
    <div class="col-12">
      <b class="mb-2 font-weight-bold">{{'edit-employee.text' | translate}}</b>
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName">{{'list-employee.firstName' | translate}}:</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder="{{'add-employee.enter-firstName' | translate}}"
            formControlName="firstName"
          />
        </div>
        <div class="form-group">
          <label for="firstName">{{'list-employee.lastName' | translate}}:</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder="{{'add-employee.enter-lastName' | translate}}"
            formControlName="lastName"
          />
        </div>
        <div class="form-group">
          <label for="firstName">{{'list-employee.phone' | translate}}:</label>
          <input
            type="tel"
            class="form-control"
            id="phone"
            placeholder="{{'add-employee.enter-phone' | translate}}"
            formControlName="phone"
          />
        </div>
        
        <button type="submit" class="btn btn-primary mt-2">{{'add-employee.submit' | translate}}</button>
      </form>
      @defer (when isCheckCompany()) {

        <app-add-company-to-employee
          [employee]="employeeForm.value"
          [employeeId]="employeeId"
        ></app-add-company-to-employee>
        }
    </div>
  </div>
</div>

