<div class="container-xl edit-employee">
  <div class="row">
    <div class="col-12">
      <p><b>{{'edit-employee.text' | translate}}</b></p>
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field appearance="outline" class="input-form-edit-employee">
            <mat-label>{{ "list-employee.firstName" | translate }}</mat-label>
            <input
              type="text"
              formControlName="firstName"
              matInput
              placeholder="{{ 'add-employee.enter-firstName' | translate }}"
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="input-form-edit-employee">
            <mat-label>{{ "list-employee.lastName" | translate }}</mat-label>
            <input
              type="text"
              formControlName="lastName"
              matInput
              [placeholder]="'add-employee.enter-lastName' | translate"
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="input-form-edit-employee">
            <mat-label>{{ "list-employee.phone" | translate }}</mat-label>
            <input
              type="tel"
              formControlName="phone"
              matInput
              placeholder="{{ 'add-employee.enter-phone' | translate }}"
            />
          </mat-form-field>
        </div>
        
        <button color="accent" mat-raised-button [mat-dialog-close]="true" type="submit" class="btn btn-primary mt-2">{{'add-employee.submit' | translate}}</button>
      </form>
      @defer (when isCheckCompany()) {

        <app-add-company-to-employee
          [employee]="employeeForm.value"
          [employeeId]="employeeId"
        ></app-add-company-to-employee>
        }
    </div>
  </div>
</div>

