<div class="view-employee container-xl">
  <div class="">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h4><b>{{'view-employee.text' | translate}}</b></h4>
          </div>
        </div>
      </div>       
      <table class="table table-striped table-hover table-bordered table-content">
        <tbody>
          <tr>
            <td>
              <label><b>{{'Id' | translate}}</b></label>
            </td>
            <td>
              <span>{{ employeeDetail.staffCode }}</span>              
            </td>
          </tr>
          <tr>
            <td>
              <label><b>{{'list-employee.firstName' | translate}}</b></label>
            </td>
            <td>
              <span>{{ employeeDetail.firstName }}</span>              
            </td>
          </tr>
          <tr>
            <td>
              <label><b>{{'list-employee.lastName' | translate}}</b></label>
            </td>
            <td>
              <span>{{ employeeDetail.lastName }}</span>              
            </td>
          </tr>
          <tr>
            <td>
              <label><b>{{'list-employee.phone' | translate}}</b></label>
            </td>
            <td>
              <span>{{ employeeDetail.phone }}</span>              
            </td>
          </tr>
          <tr>
            <td>
              <label><b>{{'company' | translate}}</b></label>
            </td>
            <td>
              <span>{{ employeeDetail?.company?.name }}</span>              
            </td>
          </tr>
          <tr>
            <td>
              <label><b>{{'create-at' | translate}}</b></label>
            </td>
            <td>
              <span>{{ employeeDetail.createAt }}</span>              
            </td>
          </tr>
          <tr>
            <td>
              <label><b>{{'update-at' | translate}}</b></label>
            </td>
            <td>
              <span>{{ employeeDetail.updateAt }}</span>              
            </td>
          </tr>
        </tbody>
      </table>       
    </div>
  </div>
</div>

