/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navbar-expand-lg .navbar-nav .nav-link:first-child{
  padding-left: 0;
}

app-root{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.content-wrapper{
  flex: 1;
}
.mat-drawer-container{
  height: 100%;
}

app-footer{
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 999;
}