<div class="container-fluid">
  <div class="">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h4><b>{{'view-company' | translate}}</b></h4>
          </div>
          <div class="col-sm-6 d-flex">
            <button
              (click)="goHome()"
              class="btn btn-success back"
              style="margin-left: auto"
            >
              <i class="fas fa-arrow-circle-left"></i> &nbsp;{{'back' | translate}}
            </button>
          </div>
        </div>
      </div>
      <table
        class="table table-striped table-hover table-bordered table-content"
      >
        <tbody>
          <tr>
            <td>
              <label><b>{{'Id' | translate}}</b></label>
            </td>
            <td>
              <span>{{ companyDetail.id }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>{{'list-company.name' | translate}}</b></label>
            </td>
            <td>
              <span>{{ companyDetail.name }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>{{'list-company.address' | translate}}</b></label>
            </td>
            <td>
              <span>{{ companyDetail.address }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>{{'create-at' | translate}}</b></label>
            </td>
            <td>
              <span>{{ companyDetail.createAt }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>{{'update-at' | translate}}</b></label>
            </td>
            <td>
              <span>{{ companyDetail.updateAt }}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <h4><b>{{'list-employee.text' | translate}}</b></h4>
      <table
        class="table table-striped table-hover table-bordered table-content"
      >
        <thead>
          <tr class="center-align">
            <th>{{'list-employee.Id' |translate}}</th>
            <th>{{'list-employee.firstName' |translate}}</th>
            <th>{{'list-employee.lastName' |translate}}</th>
            <th>{{'list-employee.phone' |translate}}</th>
          </tr>
        </thead>
        <tbody>
          @for (employee of companyDetail?.employees; track $index) {
          <tr class="center-align">
            <td>{{ employee.staffCode }}</td>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.phone }}</td>
          </tr>

          } @if (companyDetail?.employees?.length == 0) {
          <tr>
            <td colspan="6">{{'list-employee.no-employee' |translate}}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
